.box {
  height:300px;
  display: flex;
  flex-direction: column;/*Направление элементов в колонку(align-items и justify-content меняются местами)*/
  /*flex-direction: row;/*Направление элементов в ряд*/
  /*flex-direction: column-reverse;/*Направление элементов в колонку в обратном порядке*/
  /*flex-direction: row-reverse;/*Направление элементов в ряд в обратном порядке*/
  /*justify-content: center; выравнивание по горизонтали(центр)*/
  /*justify-content: left; выравнивание по горизонтали(слева)*/
  /*justify-content: right; выравнивание по горизонтали(справа)*/
  /*justify-content: space-between; выравнивание по горизонтали(фикс. крайние эл-ты, оставшиеся эл-ты пропорционально занимают пространство)*/
  /*justify-content: space-stretch; /*элементы растягиваются по ширине/высоте родителя*/
  justify-content: space-around;/*общая пропорция делится попалам и эта половинка отдается крайним элементам(15px, 30px,30px,30px,..., 15px*/
/*align-items: stretch; элементы растягиваются по ширине/высоте родителя*/
align-items: baseline;/*выравнивание по вертикали(сверху)*/
/*align-items: center; выравнивание по вертикали(центр)*/
/*align-items: end; выравнивание по вертикали(снизу)*/
flex-wrap: wrap;/*если элементу не хватает места, то элемент выбивается на следующую строку*/
}
.box__item {
  font-size: 40px; /*Общий класс*/
}
.box__item-1 {
  background-color: red;
}
.box__item-2 {
  background-color: teal;
  height: 150px;
}
.box__item-3 {
  background-color: orange;
}
.box__item-4 {
  background-color: blue;
}
.box__item-5 {
  background-color: pink;
}
.box__item-6 {
  background-color: yellow;
  height: 100px;
}
.box__item-7 {
  background-color: green;
}